body { background-color: white; 
       font-family: Helvetica, Arial, sans-serif; 
	   font-size: 1.5em; 
	   color: blue; }
	   
h1 { text-align: center; 
     margin-bottom: 2em;
	 font-style: italic; }

img { float: left; 
      border: 3px solid blue;
	  border-radius: 10px; }

@media (min-width: 360px){
  
	body{
    	     font-size: 1.0em;
  	}
}
@media (max-width:600px){
	
	body{
		width: 100%;
		padding: 0.3em 0em 0.3em 0.5em;
	}
	div.hi{
		float:center;
		margin: 0 auto;
		width:200%;
		padding: 0.3em 0em 0.3em;
	}
	img {
	     max-width: 100%;
  	     display: block;
	}
}
	@media (min-width: 601px) {

}
