
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

*{
	box-sizing:border-box;
}
html, body, header{
	height: 100%;
}
.navbar{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.main{
	margin-top: 7em;
}

.accordian{
	margin-top: 10em;
}

:root{
	--fugaz:"fugaz",bold;
	--purple: #A020F0;
	--bground: #DAF7A6;
}

.row h1{
	font-family: var(--fugaz);
	color: var(--purple);
}
header{
	background: var(--bground);
	padding-top: 1em;
	padding-bottom:2em;
	}
