
*{
	box-sizing:border-box;
}
html, body, header, footer{
	height: 100%;
}
.navbar{
	top: 0;
	width: 100%;
}
.main{
	margin-top: 7em;
}
.footer{
	position: fixed;
	overflow: hidden;
}
header{
	background-color: white;
	color: darkolivegreen;
	
	padding-bottom:2em;
	}

	@media screen and (max-width: 992px) {
		header {
		  background-color: white;
		  color: darkolivegreen;
		}
	  }
	
	  @media screen and (max-width: 600px) {
		header {
		  background-color: white;
		  color: darkolivegreen;
		}
	  }
